@use "@angular/material" as mat;
@import "mixins";

$app-primary: mat.m2-define-palette(mat.$light-blue-palette, 900, 700, 900) !default;
$app-accent:  mat.m2-define-palette(mat.$lime-palette, 500, 100, 700) !default;
$app-warn:    mat.m2-define-palette(mat.$red-palette) !default;

$app-dark-theme: mat.m2-define-dark-theme($app-primary, $app-accent, $app-warn) !default;

$greytext: #535b63 !default;
$greytext-dark: #cbcbcb !default;
$dark: #2f4050 !default;

$foreground: map-get($app-theme, foreground);
$background: map-get($app-theme, background);

$dark-foreground: map-get($app-dark-theme, foreground);
$dark-background: map-get($app-dark-theme, background);

$app-yellow: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

:root {
  --mdc-typography-button-letter-spacing: normal;
  --mdc-typography-subtitle1-letter-spacing: normal;
  --mdc-typography-body1-letter-spacing: normal;
  --mdc-typography-body1-font-size: 14px;
  --mdc-typography-subtitle1-font-size: 14px;
  --mdc-typography-body2-letter-spacing: normal;
  --mdc-typography-subtitle2-letter-spacing: normal;
}

html {
  --mat-form-field-container-text-size: 14px;
  --mat-form-field-container-text-tracking: normal;
  --mat-select-trigger-text-tracking: normal;
  --mat-menu-item-label-text-size: 14px;
  --mat-menu-item-label-text-tracking: normal;
  --mat-select-trigger-text-size: 14px;
  --mdc-outlined-text-field-label-text-size: 14px;
  --mdc-outlined-text-field-label-text-tracking: normal;
  --mat-toolbar-title-text-tracking: normal;
  --mat-option-label-text-size: 14px;
  --mat-option-label-text-tracking: normal;
  --mdc-outlined-button-label-text-tracking: normal;
  --mdc-filled-button-label-text-tracking: normal;
  --mdc-text-button-label-text-tracking: normal;
  --mdc-protected-button-label-text-tracking: normal;

  --mat-table-header-headline-tracking: normal;
  --mat-table-row-item-label-text-tracking: normal;
  --mat-table-footer-supporting-text-tracking: normal;

  --mdc-list-list-item-label-text-size: 14px;
  --mdc-list-list-item-label-text-tracking: normal;

  --mat-optgroup-label-text-line-height: inherit;
  --mat-optgroup-label-text-size: 14px;
  --mat-optgroup-label-text-tracking: normal;
}

.mat-mdc-dialog-container {
  --mdc-dialog-subhead-tracking: inherit;
  --mdc-dialog-supporting-text-size: 14px;
  --mdc-dialog-supporting-text-tracking: normal;
}

.mat-mdc-list-base {
  --mdc-list-list-item-supporting-text-tracking: normal;
  --mdc-list-list-item-trailing-supporting-text-tracking: normal;
  --mdc-list-list-item-label-text-tracking: normal;
}

.mat-mdc-tooltip {
  --mdc-plain-tooltip-supporting-text-tracking: normal;
}

.mat-mdc-tab-header {
  --mat-tab-header-label-text-letter-spacing: normal;
  --mat-tab-header-label-text-tracking: normal;
}

:root {
  --mdc-typography-headline6-line-height: 1.5;
}
.#{$lightModeClass}, .#{$darkModeClass} {
  .mat-mdc-table .mdc-data-table__row {
    height: auto;
  }
}

body {
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
    display: flex;
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control.mdc-text-field__input[type=color] {
    height: 24px;
  }
}

.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  font-size: 14px;
}

.mat-mdc-list-item .mdc-list-item__primary-text {
  font: inherit;
}

.#{$darkModeClass}, .#{$lightModeClass} {
  .mat-mdc-form-field-infix {
    min-height: unset;
  }


  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-floating-label {
    top: 16px;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    --mat-mdc-form-field-label-transform: translateY(-22.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
  }

  .mdc-line-ripple, .mat-mdc-form-field-flex {
    position: static;
  }
}

.#{$darkModeClass} {
  .mdc-text-field .mdc-text-field__input {
    caret-color: map-get($dark-foreground, base);
  }
  .mat-mdc-card, .mat-mdc-tree {
    --mdc-elevated-card-container-color: #1a1a1a;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #2a2a2a;
  }

  .mdc-text-field--disabled.mdc-text-field--filled {
    background-color: #2a2a2a;
  }

  .mat-mdc-card {
    .mat-mdc-card {
      background-color: #2a2a2a;

      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #3a3a3a;
      }

      .mdc-text-field--disabled.mdc-text-field--filled {
        background-color: #3a3a3a;
      }
    }
  }

  .mat-expansion-panel {
    background-color: #242424;
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: map-get($dark-foreground, base);
  }


  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused {
    .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
      border-color: map-get($dark-foreground, base);
    }
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color: map-get($dark-foreground, base);
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: white;
  }

  .mat-mdc-button.mat-primary {
    --mdc-text-button-label-text-color: white;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(black, 0.6);
  }

  mat-hint {
    color: rgba(white, 0.6);
  }
}

html {
  @include phone {
    width: 100%;
  }
}

html, body {
  @include desktop {
    height: 100%;
  }
  @include phone {
    height: fill-available;
  }
}

* {
  box-sizing: border-box;
}

.#{$darkModeClass}, .#{$lightModeClass} {
  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 40px;
    height: 40px;
    padding: 8px;

    .mat-mdc-button-touch-target {
      width: 40px;
      height: 40px;
    }
  }
}

body {
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    pointer-events: none;
  }

  @supports (top: max(0%)) {
    .mdc-text-field--outlined {
      padding-right: max(8px, var(--mdc-shape-small, 4px));
      padding-left: max(8px, var(--mdc-shape-small, 4px));
    }

    .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
      width: max(4px, var(--mdc-shape-small, 4px));
    }

    .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
      padding: 0 8px;
    }
  }

  .mat-mdc-form-field-type-mat-select.mat-form-field-appearance-outline {
    .mdc-notched-outline {
      &:not(.mdc-notched-outline--notched) {
        .mdc-notched-outline__notch {
          max-width: calc(100% - 24px);
        }
      }
      &.mdc-notched-outline--notched {
        .mdc-notched-outline__notch {
          max-width: calc(100% - 8px);
        }
      }
    }
  }

  .mat-mdc-tooltip {
    font-size: 12px;
  }

  mat-toolbar {
    @include phone {
      padding-left: 4px !important;
      padding-right: 12px !important;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  @include phone {
    .mat-drawer-container {
      padding-top: 0;
      min-height: 100vh;
      min-height: fill-available;
      display: flex;
    }

    .mat-toolbar {
      + .mat-drawer-container {
        padding-top: 48px;
      }
    }
  }

  .mat-drawer-content {
    @include phone {
      flex: 1;
      height: auto;
      overflow: visible;
    }
  }

  .mat-drawer {
    @include phone {
      position: fixed;
      top: 48px;
      bottom: 0;
      left: 0;
    }
  }

  @include phone {
    .mat-mdc-card {
      border-radius: 8px;
    }
  }

  td.mat-mdc-cell, td.mat-mdc-footer-cell, th.mat-mdc-header-cell {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .mat-mdc-dialog-actions {
    padding: 8px 20px 16px;
    > * + * {
      margin-left: 16px;
    }
  }

  .mat-mdc-card-title {
    font-size: 14px;
  }

  .mat-expansion-panel-body, .mat-expansion-panel-header {
    @include phone {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-layout {
    @include phone {
      display: flex;
      /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
      .mat-checkbox-label {
        width: 0;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .mat-mdc-select-panel {
    max-height: 400px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-mdc-card-subtitle, .mat-mdc-card-content, .mat-expansion-panel-content, .mat-expansion-panel-header, .mat-mdc-dialog-title, .mat-tab-label, .mat-mdc-tab-link {
    font-size: 14px;
    line-height: 1.5;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-label {
    padding: 0 16px;
  }
}

.mat-mdc-card {
  --mat-card-title-text-line-height: 1.5;
  --mat-card-title-text-tracking: normal;
  --mat-card-subtitle-text-line-height: 1.5;
  --mat-card-subtitle-text-tracking: normal;
}

h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 8px;
}

mat-toolbar {
  z-index: 2;
  &.mat-toolbar-single-row {
    height: 48px;
  }
}


.mainmenu {
  width:240px;
  @include phone {
    width: 300px;
  }
  background: mat.get-theme-color($app-theme, primary, 600) !important;
  .mat-mdc-list .mat-mdc-list-item, .mat-mdc-nav-list .mat-mdc-list-item, .mat-mdc-selection-list .mat-mdc-list-item {
    color: rgba(white, 0.77);

    &.active {
      color:white;
      background: none;
      &:after {
        background: mat.get-theme-color($app-theme, accent, 500);
      }
    }
  }

  .mdc-list-item {
    padding: 0;
  }

  .mat-mdc-list-item .mdc-list-item__content {
    padding-left: 16px;
  }

  .expanded {
    background: mat.get-theme-color($app-theme, primary, 700);
    &:before {
      background: mat.get-theme-color($app-theme, primary, 900);
    }
    .mat-mdc-nav-list {
      padding-top: 0;
      padding-bottom: 8px;
      .mat-mdc-list-item .mdc-list-item__content {
        padding-left: 32px;
      }
    }
  }

  .mdc-list-item__primary-text {
    color: inherit;
  }

  /*@include dark {
    .mat-mdc-button.mat-unthemed {
      --mdc-text-button-label-text-color: rgba(white, 0.77);
    }
  }*/
  .mat-mdc-button:not(:disabled) {
    color: rgba(white, 0.77);
  }
}

@-moz-document url-prefix() {
  * {
    scrollbar-color: $dark #b1b3b5;
    scrollbar-width: thin;
  }
}

@include desktop {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin-left:-6px !important;
  }

  ::-webkit-scrollbar-track {
    background: #b1b3b5;
    .#{$darkModeClass} & {
      background: black;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 2px;
  }

  .left-column {
    flex: 0 1 300px;
    max-width: 300px;
    min-width: 200px;
  }

  $distance: 0;
  .host {
    position: absolute;
    left: $distance;
    bottom: $distance;
    right: $distance;
    top: $distance;
    display: flex;
    >mat-card {
      >mat-card-content {
        padding: 0;
      }
    }
  }

  .maincontent {
    flex: 1;
    display: flex;
    >mat-card {
      overflow-y: auto;
    }
  }
}

.#{$darkModeClass}, .#{$lightModeClass} {
  .mdc-list-item.mdc-list-item--with-one-line {
    height: auto;
  }

  .mat-mdc-nav-list .mat-mdc-list-item {
    height: auto;
    .mdc-list-item__content {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 16px;
    }

    &.active {

    }
  }
}

.hoverable {
  @include desktop {
    &:not(:hover) {
      .onhover {
        opacity: 0.1;
      }
    }
  }
}

.rmb {
  &.mat-mdc-icon-button {
    height: 36px;
    width: 36px;
    line-height: 36px;
    padding: 0;
    .mat-icon {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
    .mat-mdc-button-touch-target {
      width: 36px;
      height: 36px;
    }
  }

  &.mat-icon {
    width: auto;
    height: 32px;
    line-height: 32px;
  }
}

html {
  @media print {
    display: block;
    height: auto;
  }
}
body.printing {
  @media screen {
    .printable {
      display: none;
    }
  }
  @media print {
    & {
      display: block;
      height:auto;
      overflow: visible;
    }
    >*:not(.printable) {
      display: none !important;
    }
  }
}

.overflowable {
  width: 0;
  overflow-x: auto;
  @include phone {
    margin-left: -16px;
    margin-right: -16px;
    >.overflowable-padder {
      padding-right: 16px;
      padding-left: 16px;
      display: inline-block;
      min-width: 100%;
    }
  }
}

.left-column, .hightlightactive {
  .active {
    font-weight: 500;
    background: map-get($background, background);
    .#{$darkModeClass} & {
      background: map-get($dark-background, background);
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4px;
      top: 0;
      background: mat.get-theme-color($app-theme, accent, 500);
    }
  }
}

.mat-accordion {
  @include phone {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.mat-expansion-indicator {
  @include phone {
    margin-right: 5px;
  }
}

.#{$darkModeClass}, .#{$lightModeClass} {
  .b18.mat-mdc-icon-button.mat-mdc-button-base {
    width: 18px;
    height: 18px;
    line-height: 18px;
    padding: 0;

    .mat-icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 15px;
    }

    .mat-mdc-button-touch-target {
      width: 18px;
      height: 18px;
    }
  }
}

.mat-mdc-slide-toggle.mat-slide-toggle-small {
  --mdc-switch-track-width: 24px;
  --mdc-switch-track-height: 8px;
  --mdc-switch-unselected-icon-size: 12px;
  --mdc-switch-selected-icon-size: 12px;
  --mdc-switch-handle-width: 14px;
  --mdc-switch-handle-height: 14px;
  --mdc-switch-state-layer-size: 36px;
}

.curp {
  cursor: pointer;
}

.greytext, a.greytext {
  color: $greytext;
  .#{$darkModeClass} & {
    color: $greytext-dark;
  }
}

textarea {
  box-sizing: content-box;
}

body {
  .mat-mdc-option {
    white-space: normal;
    min-height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: inherit !important;
  }
}

.multilinecb {
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-layout {
    display: flex;
    white-space: normal;
    align-items: flex-start;
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-label {
      line-height: 1.3;
      flex: 1;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-inner-container {
      margin:0 8px 0 0;
    }
  }
}


.normalpre {
  margin: 0;
  font-family: inherit;
  word-break: break-word;
  white-space: pre-wrap;
}


.mat-mdc-menu-panel {
  .#{$darkModeClass} & {
    color: white;
  }
}


.mat-drawer-inner-container {
  @include phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mat-mdc-tooltip {
  white-space: pre-wrap;
  body & {
    max-width: 400px;
  }
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #{mat.get-theme-color($app-theme, warn, A700)};
    --mdc-snackbar-supporting-text-color: white;
  }

  &.warning {
    --mdc-snackbar-container-color: #{mat.m2-get-color-from-palette($app-yellow, A700)};
    --mdc-snackbar-supporting-text-color: white;
  }
}

.host {
  @include phone {
    flex: 1;
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  @include phone {
    max-width: calc(100vw - 32px) !important;
    margin-top: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;

    .mat-mdc-dialog-container {
      height: fill-available;
    }

    .mat-mdc-dialog-title {
      flex: 0 0 auto;
      &.ss-nd {
        display: none;
      }
    }
    .mat-mdc-dialog-content {
      max-height: none;
    }
  }
}

@include phone {
  body {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-layout {
      display: flex;
      white-space: normal;
      align-items: flex-start;
      /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
      .mat-checkbox-label {
        line-height: 1.3;
        flex: 1;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
      .mat-checkbox-inner-container {
        margin: 0 8px 0 0;
      }
    }
  }
}

.warn {
  color: mat.m2-get-color-from-palette($app-yellow, 900);
}

.errored {
  color: #dd0000;
}

.green {
  color: #00aa00;
}

.stroked {
  text-decoration: line-through;
}

.op0 {
  opacity: 0;
}

.multiline {
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
  .mat-checkbox-layout {
    display: flex;
    white-space: normal;
    align-items: flex-start;
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-label {
      line-height: 1.3;
      flex: 1;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-inner-container {
      margin:0 8px 0 0;
    }
  }
}

.posr {
  position: relative !important;
}

.ss-dialog {
  @include phone {
    height: fill-available;
  }
}

.ovya {
  @include desktop {
    overflow-y: auto;
    &.flex1 {
      height: 0;
    }
  }
}

.abs {
  z-index: 101;
  left: 0;
  right: 0;
  &, &.mat-mdc-progress-bar {
    @include desktop {
      position: absolute;
      top: 0;
    }
    @include phone {
      position: fixed;
      top: 48px;
    }
  }
}

.mat-badge-dot {
  .mat-badge-content {
    text-indent: -1000px;
    overflow: hidden;
  }
  &.mat-badge-small {
    .mat-badge-content {
      width: 8px;
      height: 8px;
      line-height: 8px;
    }
    &.mat-badge-above .mat-badge-content {
      top: 0;
    }
    &.mat-badge-after .mat-badge-content {
      right: -4px;
    }
  }
}

.cntr {
  @include phone-portrait {
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100vw;
    margin-left: -16px;
    margin-right: -16px;
    overflow-x: auto;
  }
}

.pdr {
  @include phone-portrait {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.*/
mat-progress-bar {
  >div {
    height: 100%;
  }
}

.remove.mat-mdc-icon-button, .rem.mat-mdc-icon-button, .btn.mat-mdc-icon-button, .mat-nav-list a.btn {
  color: map-get($foreground, disabled-button);

  .#{$darkModeClass} & {
    color: map-get($dark-foreground, disabled-button);
  }

  &:hover {
    color: mat.get-theme-color($app-theme, accent, 800)
  }
}

body {
  .mat-mdc-mini-fab, .mat-mdc-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    >.mat-button-wrapper {
      display: block;
      margin: 0 auto;
      >mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.f.flex1.cnt {
  height: 24px;
}

.mat-mdc-form-field {
  .mat-icon.mat-icon-inline {
    width: 1em;
    height: 1em;
  }
}

.mdc-icon-button {
  .mat-icon.mat-icon-inline {
    font-size: 16px;
  }
}

.h36 {
  &.mat-mdc-icon-button.mat-mdc-button-base {
    width: 36px;
    height: 36px;
    padding: 6px;
  }
}

.mat-mdc-form-field-icon-suffix {
  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 36px;
    height: 36px;
    padding: 6px;

    .mat-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }
}

:root {
  --mdc-typography-headline6-line-height: 1.5;
}
.#{$lightModeClass}, .#{$darkModeClass} {
  .mat-mdc-table .mdc-data-table__row {
    height: auto;
  }
}

body {
  mat-cell, mat-header-cell, mat-footer-cell {
    align-items: flex-start;
  }
  .mat-mdc-header-cell {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
  }
}

.mat-icon.mat-icon-inline {
  line-height: 1;
  vertical-align: middle;
}

.mdc-icon-button .mat-icon.mat-icon-inline {
  display: block;
  height: 16px;
  width: 16px;
  line-height: 1;
}

.mat-mdc-dialog-container {
  @include light {
    --mdc-dialog-supporting-text-color: black;
  }
  @include dark {
    --mdc-dialog-supporting-text-color: white;
  }
}
