@use "mixins" as m;

$dark: #2f4050 !default;

:root {
  --mat-toolbar-standard-height: 48px;
  --mat-toolbar-mobile-height: 48px;
  --mat-form-field-container-height: 36px;
  --mat-form-field-container-vertical-padding: 6px;
  --mat-outlined-text-field-container-shape: 4px;
  --mat-sidenav-container-shape: 0;
  --mat-sys-body-medium-tracking: normal;
  --mat-dialog-supporting-text-size: 1em;
  --mat-dialog-supporting-text-tracking: normal;
  --mat-form-field-subscript-text-size: 12px;
  --mat-dialog-subhead-tracking: normal;
  --mat-dialog-headline-padding: 16px 24px 8px;
  --mat-dialog-container-max-width: 100vw;
  --mat-dialog-container-elevation-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

body {
  .mdc-text-field--outlined {
    padding-right: 8px;
    padding-left: 8px;
    .mdc-notched-outline .mdc-notched-outline__leading {
      width: 4px;
    }
  }

  .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
    padding: 0 8px;
  }

  .mat-mdc-dialog-title::before {
    display: none;
  }

  .mat-drawer-container {
    display: flex;
  }

  .mat-drawer-content {
    height: auto;
    flex: 1;
  }

  .mat-mdc-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    .mat-icon {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;

      &.mat-icon-inline {
        font-size: 16px;
      }
    }
  }

  mat-row, mat-footer-row, mat-header-row {
    min-height: 0;
  }

  .mdc-data-table__cell {
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: flex-start;
  }

  .mdc-data-table__header-cell {
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: flex-end;
  }
}

div.mat-mdc-form-field-flex {
  position: static;
}

html {
  @include m.phone {
    width: 100%;
  }
}

html, body {
  @include m.desktop {
    height: 100%;
  }
  @include m.phone {
    height: fill-available;
  }
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  mat-toolbar {
    @include m.phone {
      padding-left: 4px !important;
      padding-right: 12px !important;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  @include m.phone {
    .mat-drawer-container {
      padding-top: 0;
      /*min-height: 100vh;
      min-height: fill-available;*/
      display: flex;
    }

    .mat-toolbar {
      + .mat-drawer-container {
        padding-top: 48px;
      }
    }
  }

  .mat-drawer-content {
    @include m.phone {
      flex: 1;
      height: auto;
      overflow: visible;
    }
  }

  .mat-drawer {
    @include m.phone {
      position: fixed;
      top: 48px;
      bottom: 0;
      left: 0;
    }
  }
}

h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 8px;
}

mat-toolbar {
  z-index: 2;
}


.mainmenu {
  --mat-list-active-indicator-shape: 0;
  --mat-list-list-item-one-line-container-height: auto;

  width:240px;
  @include m.phone {
    width: 300px;
  }

  .mdc-list-item {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
}

@-moz-document url-prefix() {
  * {
    scrollbar-color: $dark #b1b3b5;
    scrollbar-width: thin;
  }
}

@include m.desktop {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin-left:-6px !important;
  }

  ::-webkit-scrollbar-track {
    background: #b1b3b5;
    .#{m.$darkModeClass} & {
      background: black;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 2px;
  }
}

.hoverable {
  @include m.desktop {
    &:not(:hover) {
      .onhover {
        opacity: 0.1;
      }
    }
  }
}

html {
  @media print {
    display: block;
    height: auto;
  }
}

body.printing {
  @media screen {
    .printable {
      display: none;
    }
  }
  @media print {
    & {
      display: block;
      height:auto;
      overflow: visible;
    }
    >*:not(.printable) {
      display: none !important;
    }
  }
}

.overflowable {
  width: 0;
  overflow-x: auto;
  @include m.phone {
    margin-left: -16px;
    margin-right: -16px;
    >.overflowable-padder {
      padding-right: 16px;
      padding-left: 16px;
      display: inline-block;
      min-width: 100%;
    }
  }
}

.hightlightactive {
  .active {
    font-weight: 500;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4px;
      top: 0;
    }
  }
}

.mat-accordion {
  @include m.phone {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.mat-expansion-indicator {
  @include m.phone {
    margin-right: 5px;
  }
}

.curp {
  cursor: pointer;
}

textarea {
  box-sizing: content-box;
}

.normalpre {
  margin: 0;
  font-family: inherit;
  word-break: break-word;
  white-space: pre-wrap;
}

.mat-mdc-tooltip {
  white-space: pre-wrap;
  body & {
    max-width: 400px;
  }
}

/*.cdk-overlay-pane.mat-mdc-dialog-panel {
  @include m.phone {
    max-width: calc(100vw - 32px) !important;
    margin-top: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;

    .mat-mdc-dialog-container {
      height: fill-available;
    }

    .mat-mdc-dialog-title {
      flex: 0 0 auto;
      &.ss-nd {
        display: none;
      }
    }
    .mat-mdc-dialog-content {
      max-height: none;
    }
  }
}*/

.errored {
  color: #dd0000;
}

.green {
  color: #00aa00;
}

.stroked {
  text-decoration: line-through;
}

.op0 {
  opacity: 0;
}

.posr {
  position: relative !important;
}

.ss-dialog {
  @include m.phone {
    height: fill-available;
  }
}

.ovya {
  @include m.desktop {
    overflow-y: auto;
    &.flex1 {
      height: 0;
    }
  }
}

.abs {
  z-index: 101;
  left: 0;
  right: 0;
  &, &.mat-mdc-progress-bar {
    @include m.desktop {
      position: absolute;
      top: 0;
    }
    @include m.phone {
      position: fixed;
      top: 48px;
    }
  }
}

.mat-badge-dot {
  .mat-badge-content {
    text-indent: -1000px;
    overflow: hidden;
  }
  &.mat-badge-small {
    .mat-badge-content {
      width: 8px;
      height: 8px;
      line-height: 8px;
    }
    &.mat-badge-above .mat-badge-content {
      top: 0;
    }
    &.mat-badge-after .mat-badge-content {
      right: -4px;
    }
  }
}

.cntr {
  @include m.phone-portrait {
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100vw;
    margin-left: -16px;
    margin-right: -16px;
    overflow-x: auto;
  }
}

.pdr {
  @include m.phone-portrait {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.h36 {
  &.mat-mdc-icon-button.mat-mdc-button-base {
    width: 36px;
    height: 36px;
    padding: 6px;
  }
}

.mat-mdc-form-field-icon-suffix {
  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 36px;
    height: 36px;
    padding: 6px;

    .mat-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }
}

mat-select + mat-progress-spinner {
  position: absolute !important;
  right: -6px;
  top: 50%;
  margin-top: -12px;
}

.mat-icon[svgicon=trash] svg {
  width: 18px;
  height: 18px;
}

.mat-slide-toggle-small {
  --mdc-switch-unselected-icon-size: 12px;
  --mdc-switch-selected-icon-size: 12px;
  --mat-switch-track-outline-width: 0;
  --mdc-switch-track-height: 10px;
  --mdc-switch-track-width: 24px;
  --mat-switch-with-icon-handle-size: 18px;
  --mat-switch-pressed-handle-size: 20px;
  --mdc-switch-handle-width: 36px;
  --mat-switch-selected-with-icon-handle-horizontal-margin: 0 8px;
  --mat-switch-selected-pressed-handle-horizontal-margin: 0 7px;
  --mat-switch-unselected-with-icon-handle-horizontal-margin: 0 -4px;
  --mat-switch-unselected-pressed-handle-horizontal-margin: 0 -5px;

  --mdc-switch-selected-track-color: var(--mat-sys-primary-fixed-dim);
  --mdc-switch-selected-hover-track-color: var(--mat-sys-primary-fixed-dim);
  --mdc-switch-selected-focus-track-color: var(--mat-sys-primary-fixed-dim);
  --mdc-switch-selected-pressed-track-color: var(--mat-sys-primary-fixed-dim);

  --mdc-switch-selected-handle-color: var(--mat-sys-on-primary-container);
  --mdc-switch-selected-hover-handle-color: var(--mat-sys-on-primary-container);
  --mdc-switch-selected-focus-handle-color: var(--mat-sys-on-primary-container);
  --mdc-switch-selected-pressed-handle-color: var(--mat-sys-on-primary-container);
  --mdc-switch-selected-icon-color: var(--mat-sys-on-primary);

  --mdc-switch-disabled-selected-handle-color: var(--mat-sys-on-surface-variant);
  --mdc-switch-disabled-selected-icon-color: var(--mat-sys-on-primary);
}

.no-shadow {
  box-shadow: none !important;
}
