$breakpoint: 800px;
$darkModeClass: 'dark-mode' !default;
$lightModeClass: 'light-mode' !default;

@mixin phone {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint + 1px}) {
    @content;
  }
}

@mixin dark {
  .#{$darkModeClass} & {
    @content;
  }
}

@mixin light {
  .#{$lightModeClass} & {
    @content;
  }
}

@mixin light-component {
  .#{$lightModeClass} :host & {
    @content;
  }
}

@mixin dark-component {
  .#{$darkModeClass} :host & {
    @content;
  }
}

@mixin phone-portrait {
  @media (max-width: #{$breakpoint}) and (orientation: portrait) {
    @content;
  }
}

@mixin phone-landscape {
  @media (max-width: #{$breakpoint}) and (orientation: landscape) {
    @content;
  }
}
